  body {
    background: #e0eafc;
    background-position: center;
}

.buah{
  background: #66b2ff;
  min-width: 18px;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  border: 10px #ff99cc;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 5);
  

}

.buah .name{
  font-size: 3cm;
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
}
.buah .nutritions{
  display: flex;
  justify-content: space-between;
  margin: auto;
}

